# Pliki konfiguracyjne
src/main/resources/config.json

# Logi i środowiska
logs/
.env

# Pliki kompilacji
target/
bin/
*.class
*.jar
*.war
*.ear
*.nar

# Pliki IDE
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

# Systemowe
.DS_Store
Thumbs.db
*.log

# Inne
*.swp
*.swo
*.bak
